Repository gregorias/rummikubsolver: changes, and which lefthook commands are due for each by the changed paths.
All: hlint, fourmolu, prettier

lefthook.yml:

pre-commit:
  commands:
    hlint:
      tags: lint
      glob: "*.hs"
      run: stack exec hlint {staged_files} -- -X QuasiQuotes
    fourmolu:
      tags: style
      glob: "*.hs"
      run: >-
        fourmolu -o "-XTypeApplications"
        -o "-XImportQualifiedPost"
        -i {staged_files}
        && git add {staged_files}
    prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    unit-tests:
      tags: test
      run: "stack test --ghc-options '-Werror'"
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"

chore: update package.yaml
  package.yaml
  rummikubsolver.cabal
Due: prettier

docs: update DEV.md
  DEV.md
Due: none

chore: format stack.yaml
  stack.yaml
Due: prettier

chore: format Main.hs
  executables/Main.hs
Due: hlint, fourmolu

chore: format Main.hs
  executables/Main.hs
  fourmolu.yaml
Due: hlint, fourmolu, prettier

refactor: move main to the library stanza
  executables/Main.hs
  rummikubsolver.cabal
Due: hlint, fourmolu

refactor: use optparse-applicative for the interface
  executables/Main.hs
  package.yaml
  rummikubsolver.cabal
  src/Cli.hs
Due: hlint, fourmolu, prettier

chore: remove unnecessary tuple sections pragma
  src/Game.hs
Due: hlint, fourmolu

refactor: create Game.Core
  rummikubsolver.cabal
  src/Game.hs
  src/Game/Core.hs
Due: hlint, fourmolu

refactor: use Closed to reporesent values
  package.yaml
  rummikubsolver.cabal
  src/Closed/Extra.hs
  src/Game.hs
  src/Game/Core.hs
  src/Interface/Common.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  test/Main.hs
  test/Test/Closed/Extra.hs
Due: hlint, fourmolu, prettier

refactor: use hspec
  package.yaml
  rummikubsolver.cabal
  test/GameTest.hs
  test/Main.hs
  test/Test/Game.hs
Due: hlint, fourmolu, prettier

chore: add Game.Core tests
  rummikubsolver.cabal
  test/Main.hs
  test/Test/Game/Core.hs
Due: hlint, fourmolu

chore: add Game.Core.Tile toEnum tests
  package.yaml
  rummikubsolver.cabal
  src/Game/Core.hs
  test/Test/Game/Core.hs
Due: hlint, fourmolu, prettier

feat: add default hash map
  rummikubsolver.cabal
  src/Data/DefaultHashMap/Strict.hs
Due: hlint, fourmolu

refactor(Game): delete unused functions
  src/Game.hs
Due: hlint, fourmolu

refactor(Game): hide RummikubState constructor
  src/Game.hs
Due: hlint, fourmolu

refactor: move generateCombinations to its own module
  rummikubsolver.cabal
  src/Combinatorics.hs
  src/Game.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  test/Main.hs
  test/Test/Combinatorics.hs
  test/Test/Game.hs
Due: hlint, fourmolu

refactor: move set to its own file
  rummikubsolver.cabal
  src/Game.hs
  src/Game/Core.hs
  src/Game/Set.hs
Due: hlint, fourmolu

refactor: move all colors to Game.Core
  src/Game/Core.hs
Due: hlint, fourmolu

fix: raise an error as instructed
  src/Game/Core.hs
Due: hlint, fourmolu

refactor: refactor out sets
  rummikubsolver.cabal
  src/Game.hs
  src/Game/Set.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  test/Main.hs
  test/Test/Game.hs
  test/Test/Game/Set.hs
Due: hlint, fourmolu

refactor(DefaultHashMap): add classes
  src/Data/DefaultHashMap/Strict.hs
Due: hlint, fourmolu

chore: enable overloaded record dot
  package.yaml
  rummikubsolver.cabal
  src/Data/DefaultHashMap/Strict.hs
Due: hlint, fourmolu, prettier

docs: acknowledge the paper
  README.md
Due: none

refactor: use Relude
  executables/Main.hs
  package.yaml
  rummikubsolver.cabal
  src/Cli.hs
  src/Closed/Extra.hs
  src/Combinatorics.hs
  src/Data/DefaultHashMap/Strict.hs
  src/Game.hs
  src/Game/Core.hs
  src/Game/Set.hs
  src/Interface/Common.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  test/Main.hs
  test/Test/Closed/Extra.hs
  test/Test/Combinatorics.hs
  test/Test/Game.hs
  test/Test/Game/Core.hs
  test/Test/Game/Set.hs
Due: hlint, fourmolu, prettier

refactor: use Text
  src/Cli.hs
Due: hlint, fourmolu

refactor: use a stronger return type
  src/Interface/Common.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
Due: hlint, fourmolu

refactor: use Text
  src/Interface/Common.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
Due: hlint, fourmolu

refactor: rename TileChangeCommand module appropriately
  rummikubsolver.cabal
  src/Interface/Console.hs
  src/Interface/GUI.hs
  src/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

chore: add a skeleton for TileChangeCommand tests
  rummikubsolver.cabal
  test/Main.hs
  test/Test/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

refactor: rename parseTiles
  src/Interface/Console.hs
  src/Interface/GUI.hs
  src/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

chore: add TileChangeCommand tests
  src/Interface/TileChangeCommand.hs
  test/Test/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

refactor: simplify Tile parsing
  package.yaml
  rummikubsolver.cabal
  src/Interface/TileChangeCommand.hs
Due: hlint, fourmolu, prettier

feat: implement better partition
  rummikubsolver.cabal
  src/Data/List/Extra.hs
Due: hlint, fourmolu

refactor: simplify parseTileChangeCommand
  src/Data/List/Extra.hs
  src/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

refactor: simplify TileChangeCommand
  rummikubsolver.cabal
  src/Interface/Console.hs
  src/Interface/GUI.hs
  src/Interface/TileChangeCommand.hs
  test/Test/HUnit/Extra.hs
  test/Test/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

refactor: implement TileCountArray
  rummikubsolver.cabal
  src/Game.hs
  src/Game/TileCountArray.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
Due: hlint, fourmolu

refactor: make TileCountArray more robust
  src/Game.hs
  src/Game/TileCountArray.hs
Due: hlint, fourmolu

refactor: fix a typo
  src/Game/TileCountArray.hs
Due: hlint, fourmolu

refactor: move state to its own module
  rummikubsolver.cabal
  src/Cli.hs
  src/Game.hs
  src/Game/State.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  test/Main.hs
  test/Test/Game.hs
  test/Test/Game/State.hs
Due: hlint, fourmolu
