Repository gregorias/rummikubsolver: changes, and which lefthook commands are due for each by the changed paths.
All: hlint, fourmolu, prettier

lefthook.yml:

pre-commit:
  commands:
    hlint:
      tags: lint
      glob: "*.hs"
      run: stack exec hlint {staged_files} -- -X QuasiQuotes
    fourmolu:
      tags: style
      glob: "*.hs"
      run: >-
        fourmolu -o "-XTypeApplications"
        -o "-XImportQualifiedPost"
        -i {staged_files}
        && git add {staged_files}
    prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    unit-tests:
      tags: test
      run: "stack test --ghc-options '-Werror'"
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"

feat: add spacing
  resources/css/main.css
  src/Interface/GUI.hs
Due: hlint, fourmolu

docs: fix comments
  src/Interface/GUI.hs
Due: hlint, fourmolu

refactor(gui): let gui handle errors
  src/Interface/GUI.hs
Due: hlint, fourmolu

feat(gui): add an error box
  resources/css/main.css
  src/Interface/GUI.hs
Due: hlint, fourmolu

feat: display parsing errors
  resources/css/main.css
  rummikubsolver.cabal
  src/Interface/Console.hs
  src/Interface/GUI.hs
  src/Interface/TileChangeCommand.hs
  src/Text/Megaparsec/Extra.hs
  test/Test/HUnit/Extra.hs
  test/Test/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

ci: update the release process
  .dockerignore
  .gitignore
  DEV.md
  README.md
  build/build-linux-amd64.sh
  build/lts-linux-amd64-Dockerfile
  build/rummikubsolver-linux-amd64-Dockerfile
  dev/bin/release-new-version
  src/Cli.hs
Due: hlint, fourmolu

chore: release
  package.yaml
  rummikubsolver.cabal
Due: prettier

docs: update installation instructions
  README.md
Due: none

docs: update installation instructions
  DEV.md
  README.md
Due: none

feat: prevent parsing garbage commands
  src/Interface/TileChangeCommand.hs
  test/Test/HUnit/Extra.hs
  test/Test/Interface/TileChangeCommand.hs
Due: hlint, fourmolu

feat: report state transition errors
  src/Game/Core.hs
  src/Game/State.hs
  src/Game/TileCountArray.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  test/Test/Game.hs
  test/Test/Game/State.hs
Due: hlint, fourmolu

docs: update Game.hs doc
  src/Game.hs
Due: hlint, fourmolu

feat(solver): add solveTable
  src/Game.hs
  src/Game/Core.hs
  src/Game/TileCountArray.hs
  test/Main.hs
  test/Test/Game.hs
Due: hlint, fourmolu

feat(state): guarantee table solvability
  rummikubsolver.cabal
  src/Game.hs
  src/Game/State.hs
  src/Interface/Console.hs
  src/Interface/GUI.hs
  src/Solver.hs
  test/Main.hs
  test/Test/Game.hs
  test/Test/Game/State.hs
  test/Test/Solver.hs
Due: hlint, fourmolu

feat(gui): make the GUI more responsive
  resources/css/main.css
  src/Interface/GUI.hs
Due: hlint, fourmolu

feat: add Win release
  DEV.md
  README.md
  build/build-win64.sh
Due: none
